block content
	h1 Guide
	p Welcome!
	| Good work picking a good game to read about. As of now there is no in game tutorial so this is the best, and only resource to learn about Colludo - the hip new browser strategy mmo. 

	h2 City
	p Each player begins with one city to design, develop and build. Each city is an array of tiles that can be built into a wide array of option, similar to sim city type games. Some buildings inrease resource production, some provide bonsues and others open up new abilities such as training troops. As your city grows and becoms prosperous you will eventually expand out and settle more. Some cities will focus on production of resources while others will focus on manafacturing or even housing the capital of your alliance. 

	| Unlike most other browser-mmo's, vity buildign in travian strives to be a creative, thoughtful endevear. 